<!DOCTYPE html>
<html lang="pt-br">

<head>
  <title>Sample Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="static/styles.css" />
  <script src="static/actions-support.js" type="module"></script>
  <script src="https://unpkg.com/htmx.org@1.9.8"
    integrity="sha384-rgjA7mptc2ETQqXoYC3/zJvkU7K/aP44Y+z7xQuJiVnB/422P/Ak+F/AqFR7E4Wr" crossorigin="anonymous">
    </script>
</head>

<body>
  <h1 class="outer-header">SAMPLE</h1>
  <br>
  <div>
    <button hx-get="/tabs/sample" role="tab" hx-trigger="load, click" hx-target="#main">Sample</button>
    <button hx-get="/tabs/test" role="tab" hx-trigger="click" hx-target="#main">Tester</button>
  </div>
  <br>
  <hr>
  <br>
  <main id="main">
  </main>
</body>

</html>