.__acc_tab__content {
    max-height: 0;
    overflow: hidden;
}

.__acc_tab input:checked~.__acc_tab__content {
    max-height: 100%;
}

.outer-header {
    text-align: center;
    font-style: italic;
}

.hor-container {
    display: flex;
    flex-direction: row;
    & * {
        margin: auto;
    }
}

.try-message {
    color: red;
    font-weight: bold;
}

/* GENERAL RED BLUE */
.red {
    background-color: red;
    color: white;
}
.blue {
    background-color: blue;
    color: white;
}

/* ACCORDIONS */
.__acc__ {
    border: 1px solid black;
    background-color: lightgrey;
    width: fit-content;
    overflow-block: scroll;
    padding: 2px;
    & div .__acc_tab__content {
        border: 1px solid black;
        border-radius: 1.5%;
        color: green;
        padding: 1px;
    }
}