/* ACCORDION RULES */
.__acc_tab__content {
    max-height: 0;
    overflow: hidden;
}

.__acc_tab input:checked~.__acc_tab__content {
    max-height: 100%;
}

/* INDEX CSSs */
.outer-header {
    text-align: center;
    font-style: italic;
}

.centered-container {
    display: flex;
    flex-direction: row;
    width: auto;
    & * {
        margin: auto;
    }
}

/* ACCORDIONS CSSs */
.__acc__ {
    border: 1px solid black;
    width: fit-content;
    overflow-block: scroll;
    padding: 2px;
    & div .__acc_tab__content {
        border: 1px solid black;
        border-radius: 1.5%;
        padding: 1px;
    }
}