{{ template "ORIGIN" . }}

<style>
    .primary {
        color: blue;
    }

    .secondary {
        color: green;
    }

    .cancel {
        color: red;
    }
</style>

{{ if $items := get "/items" . }}
    {{ range array $items | solvearray }}
        {{ $t := get "/title" . | string | solvestring }}
        {{ $d := get "/description" . | string | solvestring }}
        {{ $tp := get "/type" . | string | solvestring }}
        {{ template "ITEM" props $t $d $tp }}
{{ end }}
{{ else }}
    <h2>Could not retrieve items</h2>
{{ end }}